.dialogsScroll {
  // width: calc(100vh + 500px);
  width: 100vh;
  height: 70px;
  border-top: 2px solid gainsboro;
  border-bottom: 2px solid gainsboro;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  overflow-x: auto;

  &Items{
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &Empty {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    &P {
      font-size: 14px;
    //   color: gray;
    font-style: italic;
      font-weight: bold;
    }
  }
}
