.profile{
    height: 90%;
    width: 90%;
    display: flex;
    justify-content: space-between;
    align-items: center;

    &Info{
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }

    &Posts{
        width: 45%;
        height: 100%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;
    }
}