.dialogItem{
    margin: 10px 30px 10px 0;

    .dialogAvatar{
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid gainsboro;
        border-radius: 50%;

        img{
            max-width: 80%;
            border-radius: 50%;
        }
    }

    p{
        font-size: 14px;
    }
   
}