.profileInfo{
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;


    &Avatar{
        height: 37%;
        width: 75%;
        display: flex;
        justify-content: space-between;
        align-items: center;
        flex-direction: column;

        img{
            height: 60%;
            width: 50%;
            border-radius: 10px;
        }

        input{
            width: 80%;
        }

    }

    &Details{
        height: 62%;
        width: 100%;
    }
}