.addChatMessageForm{
    width: 100%;
    min-height: 90px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    flex-direction: column;

    textarea{
        resize: none;
        width: 100%;
        max-height: 50px;
        border: 1px solid gainsboro;
        border-radius: 10px;
        padding-top: 5px;
        padding-left: 5px;
    }

    button {
        width: 60px;
        height: 30px;
        color: white;
        background-color: blue;
        border: none;
        border-radius: 10px;
    }

    button:hover{
        color: blue;
        border: 1px solid blue;
        background-color: white;
    }
}